/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .


 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "animate";

//body {
//  background: #FFFFFF;
//}
//body {
//  background: rgb(235, 238, 243);
//}
.main_content {
  padding: 0 0 50px 0;
}
.service_title {
  margin: 0 0 20px 0;
}
.services {
  padding: 15px 0;
  border-bottom: 1px solid #EAEAEA;

}
.form-inline {
  margin-top: 15px;
}
.form-input {
  width: 35% !important;
  float: left;
}
.form-button {
  float: left;
  width: 30% !important;
  margin-left: 5%;
}
.add-button {
  margin-top: 25px;
}